{% extends 'base.html' %}

{% block content %}
<h1>Silakan edit data disini</h1>

<form action="" method="post">
    {% csrf_token %}
    <fieldset>
        <legend>Data:</legend>
        <label for="fname">Nama:</label><br>
        <input type="text" name="nama" value="{{ data.nama }}"><br>
        <label for="lname">Alamat:</label><br>
        <input type="text" name="alamat" value="{{ data.alamat }}"><br><br>
        <label for="lname">No. Telpon:</label><br>
        <input type="text" name="no_telpon" value="{{ data.no_telpon }}"><br><br>
        <button type="submit" class="btn btn-success btn-sm">Confirm Edit</button>  
    </fieldset>  
</form>
{% endblock %}