{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<form action="" method="POST">
    {% csrf_token %}
    {{ form|crispy }}
    
    <!-- Ini form yang digunakan jika mengunakan plain html
    <fieldset>
        <legend>Data:</legend>
        <label for="fname">Nama:</label><br>
        <input type="text" name="nama" value="{{ form.nama }}"><br>
        <label for="lname">Alamat:</label><br>
        <input type="text" name="alamat" value="{{ form.alamat }}"><br><br>
        <label for="lname">No. Telpon:</label><br>
        <input type="text" name="no_telpon" value="{{ form.no_telpon }}"><br><br>
        <button type="submit" class="btn btn-success btn-sm">Confirm Edit</button>  
    </fieldset>
    -->

    <br>
    <button type="submit" class="btn btn-success btn-sm">Confirm Edit</button>
</form>
{% endblock %}